body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
th {
    background-color: #f8f8f8;
}

img.avatar {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #218838;
}


.female-row {
    background-color: #ffb4f3;
}
.male-row {
    background-color: #6891ff;
}
.other-row {
    background-color: lightgray;
}

tr{
    border-bottom: 5px solid black;
}

th{

    border-bottom: 2px solid rgb(216, 5, 5);


}