body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
th {
    background-color: #f8f8f8;
}



.avatar64 {
			width: 64px;
			height: 64px;
			border-radius: 64px;
		}
		.avatar32 {
			width: 32px;
			height: 32px;
			border-radius: 32px;
		}
		.avatar16 {
			width: 16px;
			height: 16px;
			border-radius: 16px;
		}

			 /* Basic styles for the modal window */
		 .modal {
			 display: none;
			 position: fixed;
			 z-index: 9999;
			 left: 0;
			 top: 0;
			 width: 100%;
			 height: 100%;
			 background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
			 justify-content: center;
			 align-items: center;
		 }

		.chat-popup {
			background-color: white;
			padding: 20px;
			border-radius: 10px;
			width: 750px;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			max-width: 80%;
		}

		.chat-header {
			display: block;
			align-items: center;
			margin-bottom: 15px;
		}

		.avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 10px;
		}

		.username 
        {
			font-size: 18px;
			font-weight: bold;
		}

        .username.userdpt.userville
        {
            font-size: 14px;
			font-weight: bold;
        }

        .userville
        {
            font-size: 14px;
			font-weight: bold;
        }
        .userdpt
        {
            font-size: 14px;
			font-weight: bold;
        }


        .userville
        {
            font-size: 14px;
			font-weight: bold;
        }







		.chat-content {
			height: 200px;
			overflow-y: auto;
			border: 1px solid #ddd;
			padding: 10px;
			margin-bottom: 15px;
			background-color: #f9f9f9;
		}

		.chat-footer {
			display: flex;
		}

		.chat-input {
			flex: 1;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #ccc;
			margin-right: 5px;
		}

		.send-btn {
			padding: 5px 10px;
			background-color: #4CAF50;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.close-btn {
			position: fixed;
			top: 0;
			right: 0;
			background-color: red;
			color: white;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			z-index: 10000;
		}

		.message {
			display: flex;
			flex-direction: column;
			padding: 10px;
			margin-bottom: 10px;
			max-width: 70%;
			border-radius: 10px;
		}

		.sent {
			align-self: flex-end;
			background-color: #d1e7dd;
			border: 1px solid #badbcc;
			margin-left: auto;
		}

		.received {
			align-self: flex-start;
			background-color: #f8d7da;
			border: 1px solid #f5c2c7;
		}
		#selected-profiles {
			padding: 10px;
			display: flex;
			gap:10px;
		}
		#selected-profiles div {
			background: yellow;
			color:black;
			cursor: pointer;
			border: 1px solid black;
			border-radius: 5px;
			padding: 5px;
		}
		#selected-profiles div:hover {
			background: orange;
		}
		tr {
			cursor: pointer;
		}











img.avatar {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    box-shadow: 5px 3px 5px #efefef;
    margin-right: 25px;
    
}


button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #218838;
}


.female-row {
    background-color: #ffb4f3;
}
.male-row {
    background-color: #6891ff;
}
.other-row {
    background-color: lightgray;
}

tbody
{
    border-right: 2px solid #00000099;
    border-left: 2px solid #00000099;
}

tr{
    border-bottom: 2px solid black;
    border-left: 2px solid #00000099;
    border-right: 2px solid #00000099;
    border-top: 2px solid #00000099;
}

th{

    border-bottom: 2px solid rgb(18, 18, 18);
}

.filter_chat label

{    font-size: 12px;
    font-weight: 800;
}

.profile-tag {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: inline-block;
}

.container_profil_parent
{
    width: 100%;
    text-align: center;
}

.container_profil {
    width: 50%;
    margin: auto;
    position: fixed;
    top: 10;
    TOP: 30%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    box-shadow: 5px 5px 10px #00000038;
    display: none;
    padding: 5%;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 20px 15px 20px #0000000f;
}
#container_profil .profile-content {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
}


#message_user {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e1f5fe;
}


.avatar64 {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}
.avatar32 {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}
.avatar16 {
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

     /* Basic styles for the modal window */
 .modal {
     display: none;
     position: fixed;
     z-index: 9999;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
     justify-content: center;
     align-items: center;
 }

.chat-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 750px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.chat-content {
    height: 250px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.chat-footer {
    display: flex;
}

.chat-input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.send-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10000;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    border-radius: 10px;
}

.sent {
    align-self: flex-end;
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
    margin-left: auto;
}

.received {
    align-self: flex-start;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
}
#selected-profiles {
    padding: 10px;
    display: flex;
    gap:10px;
}
#selected-profiles div {
    background: yellow;
    color:black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
#selected-profiles div:hover {
    background: orange;
}
tr {
    cursor: pointer;
}


.nav_bottom_chat
{
    display: none;
}



#chat-input {
    width: calc(100% - 100px);
    margin-right: 10px;
    padding: 10px;
}

#send-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

#container_profil .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}




.container_profil img
{
    width: 100px;
    height: 100px;
}




.containeur_salons
{
    border: 5px solid yellow;
    display: block;

}


.options_menu_chat
{
    display: none;
}