body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
th {
    background-color: #f8f8f8;
}

img.avatar {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #218838;
}


.female-row {
    background-color: #ffb4f3;
}
.male-row {
    background-color: #6891ff;
}
.other-row {
    background-color: lightgray;
}

tbody
{
    border-right: 2px solid #00000099;
    border-left: 2px solid #00000099;
}

tr{
    border-bottom: 2px solid black;
    border-left: 2px solid #00000099;
    border-right: 2px solid #00000099;
    border-top: 2px solid #00000099;
}

th{

    border-bottom: 2px solid rgb(18, 18, 18);


}


.profile-tag {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: inline-block;
}



.conteneur_selected_profil
{
    width: 50px ;
    height: 100px;
    border: 5px solid red;
}


.container_profil
{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    color: white;
    z-index: 1000; /* Pour s'assurer qu'il est au-dessus du reste */
    display: none; /* Caché par défaut */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}